/* media query mixin
===================== */
@mixin minMediaQuery($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}
@mixin maxMediaQuery($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}
@font-face {
    src: url(../webfonts/fa-solid-900.ttf), url(../webfonts/fa-regular-400.ttf);
    font-family: "fontawesome";
}
@font-face {
    src: url(https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap);
    font-family: "Rubik Mono One", sans-serif;
}
body {
    overflow-x: hidden;
    // font-family: Lato;
    // height: 100vh;
    font-family: "Rubik Mono One", sans-serif;
    background: #f9fbfd;
}
button:focus {
    // box-shadow: none !important;
}

/*------------------------------------------ top-nav -----------------------------------------*/
.top-nav {
    background: #ededed;
    position: fixed;
    top: 0;
    z-index: 400;
    box-shadow: 0 0 15px -5px #000;
    button.dropdown-toggle#mails {
        position: relative;
        .number-of-mails {
            position: absolute;
            top: -5px;
            right: -10px;
        }
        &::after {
            display: none !important;
        }
        & + .dropdown-menu {
            overflow-x: hidden;
            min-width: 320px !important;
            left: -100px !important;
            li {
                background: #ededed;
            }
            .media-body {
                white-space: normal;
            }
        }
    }

    button.dropdown-toggle#profile {
        &::after {
            font-family: "fontawesome";
            border: none !important;
            content: "\f107" !important;
        }
    }
}
/*--------------------------------------------------------------------------------------------*/
/*----------------------------------------- side-bar -----------------------------------------*/
.overlay {
    width: 100%;
    // height: 100vh;
    z-index: 200;
    display: none;
    position: fixed;
    // top: 0;
    bottom: 0;
    background: rgba($color: #2a3f54, $alpha: 0.5);
}
.side-bar {
    width: 20%;
    // height: 100vh;
    z-index: 500;
    display: none;
    position: fixed;
    // top: 0;
    bottom: 0;
    background: #2a3f54;
    .brand a {
        text-decoration: none;
        color: #e7e7e7;
        transition: color 0.4s;
        &:hover {
            color: #f2f5f7;
        }
        i {
            font-size: 2rem;
        }
    }
    .media-body {
        color: #ededed;
    }
    ul {
        .nav-item {
            position: relative;
            border-right: 4px solid transparent;
            transition: border-color 0.5s;
            &.active {
                border-color: #1abb9c;
                .nav-link {
                    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
                    background: linear-gradient(#334556, #2c4257), #2a3f54;
                    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
                }
            }
        }
        .nav-link {
            color: #e7e7e7;
            cursor: pointer;
            transition: color 0.4s;
            &:hover {
                color: #f2f5f7;
            }
            i.fa-chevron-down {
                font-size: 0.75rem;
            }
        }
        &.child-nav-item {
            display: none;
            li {
                padding: 0.2rem 0;
                padding-left: 2.5rem;
                // background: transparent;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    // z-index: -1;
                    top: 0;
                    left: 1.2rem;
                    width: 2px;
                    height: 100%;
                    background: #425668;
                    // border-left: 2px solid #425668;
                }
                &::before {
                    content: "";
                    position: absolute;
                    // z-index: -1;
                    top: 35%;
                    left: 1rem;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #425668;
                }
                &.active {
                    background: rgba(255, 255, 255, 0.05);
                }
            }
            a {
                text-decoration: none;
                color: #e7e7e7;
                cursor: pointer;
                transition: color 0.4s;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
/*--------------------------------------------------------------------------------------------*/

/*----------------------------------------- side-bar -----------------------------------------*/
.side-bar.minimal {
    width: 70px;
    .brand span,
    .profile-info,
    .general {
        display: none !important;
    }
    ul {
        .nav-link {
            padding-left: 0.5rem !important;
            padding-right: 0.1rem !important;
            display: flex;
            justify-content: center !important;
            i.fa-chevron-down {
                display: none;
            }
            .column {
                display: flex;
                flex-direction: column;
                align-items: center;

                i {
                    font-size: 1.8rem;
                    text-align: center;
                }
                span {
                    text-align: center;
                    font-size: 0.6rem;
                }
            }
        }
        &.child-nav-item {
            background: #2a3f54;
            position: absolute;
            top: 0;
            left: 106%;
            // padding: 0 0.5rem;
            width: max-content;
            li {
                padding: 0.3rem 1.5rem;
                &::after,
                &::before {
                    display: none;
                }
            }
        }
    }
}
/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------*/
.negative-margin {
    margin-right: -15px;
    margin-left: -15px;
}
#main-content {
    // margin-left: 20%;
    padding-top: 3rem;
}
/*--------------------------------------------------------------------------------------------*/
/*---------------------------------- projects ------------------------------------------------*/
.card.projects {
    a.dropdown-toggle {
        background: #fff !important;
        border: none;

        &::after {
            display: none;
        }
    }
}
/*--------------------------------------------------------------------------------------------*/



a.dropdown-toggle {
    background: #fff !important;
    // border: none;
    cursor: pointer;

    &::after {
        display: none;
    }
}




a.avatar {
    margin-left: -0.75rem;
    .avatar-img {
        border: 2px solid #fff;
    }
    .more {
        padding: 2px;
        border: 2px solid #fff;
        color: #fff;
    }
}







.card.alternative-performance {
    background: #2a3f54 !important;
    border: none !important;
    border-radius: 0;
    padding-bottom: 2rem;
    .card-header {
        color: #ededed;
        border: none !important;
        
    }
    .graphs {
        border-bottom: 1px solid #7285a0;
        // margin-bottom: -10px;
        button {
            color: #ededed;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid transparent;
            &.active {
                border-color: #2c7be5;
            }
        }
    }
}




.profile-header {
    .avatar > img {
        border: 3px solid #fff;
    }
}




#groups {
    .card-body {
        position: relative;
        > .dropdown {
            position: absolute;
            top: 1rem;
            right: 1rem;
            > .dropdown-toggle {
                cursor: pointer;
            }
        }
    }
}




#subscribers {
    .card {
        position: relative;
        > .dropdown {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: transparent;
            a.dropdown-toggle {
                background: transparent !important;
            }
        }
    }
}




.card {
    background-color: #fff;
    // background-clip: border-box;
    border: 1px solid #edf2f9;
    border-radius: 0.5rem;
    .card-header {
        padding: 1rem 1.5rem;
        margin-bottom: 0;
        background-color: transparent;
        border-bottom: 1px solid #edf2f9;
        > h3,
        > h4.card-header-title {
            font-size: 1.1rem;
            margin-bottom: 0;
        }
        > a {
            font-size: 0.8rem;
        }
    }
    .card-body {
        a.dropdown-toggle {
            color: #e9eaf1;
            transition: color 0.4s;
            cursor: pointer;
            &:hover {
                color: #c4c5cc;
            }
            &::after {
                display: none;
            }
        }
        h4.card-title {
            font-size: 0.85rem;
            a {
                text-decoration: none;
                color: #32343c;
                font-weight: bold;
            }
        }
        h5 {
            font-size: 1.095rem;
        }
        h6 {
            font-size: 0.8rem;
        }
        .table {
            td {
                padding: 0.9375rem;
                font-size: 0.85rem;
            }
            thead th {
                padding: 0.9375rem;
                font-size: 0.825rem;
                a {
                    text-decoration: none;
                }
                i.fa-sort {
                    font-size: 0.67rem;
                }
            }
        }
    }
}




ul.nav.nav-tabs {
    border: none;
    border-bottom: 1px solid #edf2f9;
    margin-bottom: 5rem;
    .nav-item {
        margin-bottom: -2px;
        a.nav-link {
            text-decoration: none;
            color: #95aac9;
            border: none;
            transition: color 0.4s;
            &.active {
                background: transparent;
                border-bottom: 1px solid #186ee7;
                color: #000;
                font-weight: bold;
            }
            &:hover {
                color: #7285a0;
            }
        }
    }
}
